@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 12px;
  line-height: 10px;
}

h1 {
  line-height: 35px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #3173D8;
  font-size: 40px;
  font-weight: lighter;
}

label {
  font-size: 12px;
  font-family: 'Open Sans', Roboto, sans-serif;
  font-weight: bold;
}  

#dialog {
  font-size: 12px;
  font-family: 'Open Sans', Roboto, sans-serif;
}


#wrapper {
  width: 100%;
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 800px;
}

#controls {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 10px;
  text-align: left;
  line-height: 12px;
  width:400px;
  float: left;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 5px;
  font-size: 10px;
  text-align: right;
  line-height: 2px;
}
